Repository TromsFylkestrafikk/laravel-siri: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --ext=.js,.vue --cache, php ./vendor/bin/phpcs -n --colors --standard=./phpcs.xml, php ./vendor/bin/phpstan analyze

Issue #26: Add check for messageid + optional status element
  src/Subscription/RequestBase.php
Due: php ./vendor/bin/phpcs -n --colors --standard=./phpcs.xml, php ./vendor/bin/phpstan analyze

Issue #26: Version isn't included in response from our siri provider
  src/Subscription/RequestBase.php
Due: php ./vendor/bin/phpcs -n --colors --standard=./phpcs.xml, php ./vendor/bin/phpstan analyze

Issue #26: Debug comment out
  resources/views/dev/response/subscribe-ok.blade.php
  src/Subscription/RequestBase.php
Due: php ./vendor/bin/phpcs -n --colors --standard=./phpcs.xml, php ./vendor/bin/phpstan analyze

Issue #26: use EstimatedTimetableDelivery as key for all journeys event
  src/ServiceDelivery/EstimatedTimetableDelivery.php
Due: php ./vendor/bin/phpcs -n --colors --standard=./phpcs.xml, php ./vendor/bin/phpstan analyze

Issue #26: Add siri-2.0 check for vehicle journey id
  src/ServiceDelivery/Base.php
  src/ServiceDelivery/EstimatedTimetableDelivery.php
Due: php ./vendor/bin/phpcs -n --colors --standard=./phpcs.xml, php ./vendor/bin/phpstan analyze

Issue #26: Additional 2.0 vm elements
  src/ServiceDelivery/EstimatedTimetableDelivery.php
  src/ServiceDelivery/VehicleMonitoringDelivery.php
Due: php ./vendor/bin/phpcs -n --colors --standard=./phpcs.xml, php ./vendor/bin/phpstan analyze

Issue #26: Set IncrementalUpdates to true on et sub requests
  src/ServiceDelivery/EstimatedTimetableDelivery.php
  src/Subscription/EtRequest.php
Due: php ./vendor/bin/phpcs -n --colors --standard=./phpcs.xml, php ./vendor/bin/phpstan analyze

Issue #26: Attempt at using UpdateInterval on ET.
  resources/views/request/et.blade.php
  resources/views/request/vm.blade.php
  src/Subscription/EtRequest.php
  src/Subscription/VmRequest.php
Due: php ./vendor/bin/phpcs -n --colors --standard=./phpcs.xml, php ./vendor/bin/phpstan analyze

Issue #26: Revert UpdateInterval for ET, keep for VM
  resources/views/request/et.blade.php
  src/Subscription/EtRequest.php
Due: php ./vendor/bin/phpcs -n --colors --standard=./phpcs.xml, php ./vendor/bin/phpstan analyze

Issue #26: More et siri-2.0 stuff (RecordedCalls)
  src/ServiceDelivery/EstimatedTimetableDelivery.php
Due: php ./vendor/bin/phpcs -n --colors --standard=./phpcs.xml, php ./vendor/bin/phpstan analyze

Issue #26: Completed EstimatedTimetableDelivery
  src/ServiceDelivery/EstimatedTimetableDelivery.php
Due: php ./vendor/bin/phpcs -n --colors --standard=./phpcs.xml, php ./vendor/bin/phpstan analyze

Issue #26: s/string/int/ on some elements
  src/ServiceDelivery/EstimatedTimetableDelivery.php
Due: php ./vendor/bin/phpcs -n --colors --standard=./phpcs.xml, php ./vendor/bin/phpstan analyze

Issue #26: Consat really doesn't like UpdateInterval in vm requests
  resources/views/request/vm.blade.php
  src/Subscription/VmRequest.php
Due: php ./vendor/bin/phpcs -n --colors --standard=./phpcs.xml, php ./vendor/bin/phpstan analyze

Issue #26: Add some more elements to vm data
  src/ServiceDelivery/VehicleMonitoringDelivery.php
Due: php ./vendor/bin/phpcs -n --colors --standard=./phpcs.xml, php ./vendor/bin/phpstan analyze

Issue #26: Changelog entry
  CHANGELOG.md
Due: none

Issue #26: CLI test for supported siri version
  src/Console/CreateSubscription.php
Due: php ./vendor/bin/phpcs -n --colors --standard=./phpcs.xml, php ./vendor/bin/phpstan analyze

Issue #26: Remove debug request response dump
  src/Subscription/RequestBase.php
Due: php ./vendor/bin/phpcs -n --colors --standard=./phpcs.xml, php ./vendor/bin/phpstan analyze

Issue #26: Add support for SIRI-2.0 VM and ET
  CHANGELOG.md
  database/migrations/2022_05_02_100000_siri_subscription_version.php
  resources/views/dev/response/subscribe-ok.blade.php
  resources/views/request/et.blade.php
  resources/views/request/sx.blade.php
  resources/views/request/vm.blade.php
  routes/api-dev.php
  src/Console/CreateSubscription.php
  src/Console/ListSubscriptions.php
  src/Http/Controllers/SiriDevController.php
  src/Http/Middleware/SiriVersion.php
  src/Models/SiriSubscription.php
  src/ServiceDelivery/Base.php
  src/ServiceDelivery/EstimatedTimetableDelivery.php
  src/ServiceDelivery/VehicleMonitoringDelivery.php
  src/Siri.php
  src/SiriServiceProvider.php
  src/Subscription/EtRequest.php
  src/Subscription/RequestBase.php
Due: php ./vendor/bin/phpcs -n --colors --standard=./phpcs.xml, php ./vendor/bin/phpstan analyze

Releasing 0.2.0 w/siri 2.0 support
  CHANGELOG.md
  package.json
  src/Subscription/RequestBase.php
Due: php ./vendor/bin/phpcs -n --colors --standard=./phpcs.xml, php ./vendor/bin/phpstan analyze

Issue #28: Add siri version et.al. to schema pipeline
  src/ServiceDelivery/Base.php
Due: php ./vendor/bin/phpcs -n --colors --standard=./phpcs.xml, php ./vendor/bin/phpstan analyze

Issue #28: Debug logs
  src/Services/XmlMapper.php
Due: php ./vendor/bin/phpcs -n --colors --standard=./phpcs.xml, php ./vendor/bin/phpstan analyze

Issue #28: Use '>=' instead of 'gte' in version_compare
  src/ServiceDelivery/VehicleMonitoringDelivery.php
Due: php ./vendor/bin/phpcs -n --colors --standard=./phpcs.xml, php ./vendor/bin/phpstan analyze

Issue #28: Remove debug log
  src/Services/XmlMapper.php
Due: php ./vendor/bin/phpcs -n --colors --standard=./phpcs.xml, php ./vendor/bin/phpstan analyze

Issue #28: Changelog entry. Fixed version in 0.2.0 release
  CHANGELOG.md
Due: none

Issue #28: Add siri version to broadcasted events
  CHANGELOG.md
  src/ServiceDelivery/Base.php
  src/ServiceDelivery/VehicleMonitoringDelivery.php
  src/Services/XmlMapper.php
Due: php ./vendor/bin/phpcs -n --colors --standard=./phpcs.xml, php ./vendor/bin/phpstan analyze

Preparing 0.2.1 quick fix release
  CHANGELOG.md
  package.json
Due: none

Issue #29: Composer upgraded.
  composer.json
Due: none

Issue #29: Changelog entry
  CHANGELOG.md
  composer.json
Due: none

Issue #29: Laravel 9.x support
  CHANGELOG.md
  composer.json
Due: none

Issue #30: Move queued dipatched code to separate service
  CHANGELOG.md
  src/Helpers/XmlFile.php
  src/Http/Controllers/SiriClientController.php
  src/Jobs/BackgroundXmlHandler.php
  src/Services/ServiceDeliveryDispatcher.php
  src/Traits/ServiceDeliveryDispatch.php
Due: php ./vendor/bin/phpcs -n --colors --standard=./phpcs.xml, php ./vendor/bin/phpstan analyze

Issue #33: XmlMapper now allows several "true" values for bool type
  CHANGELOG.md
  src/Services/XmlMapper.php
Due: php ./vendor/bin/phpcs -n --colors --standard=./phpcs.xml, php ./vendor/bin/phpstan analyze

Issue #31: Don't use scopes on incoming situations
  database/migrations/2022_09_26_100000_create_siri_sx_tables.php
  resources/js/components/SiriUpload.js
  src/Helpers/PtSituationToModel.php
Due: npx eslint --ext=.js,.vue --cache, php ./vendor/bin/phpcs -n --colors --standard=./phpcs.xml, php ./vendor/bin/phpstan analyze

Issue #31: Don't emit old situation events
  src/Helpers/PtSituationToModel.php
  src/Models/Sx/PtSituation.php
  src/ServiceDelivery/SituationExchangeDelivery.php
Due: php ./vendor/bin/phpcs -n --colors --standard=./phpcs.xml, php ./vendor/bin/phpstan analyze

Issue #31: Trashed the polymorphic pivot idea
  database/migrations/2022_09_26_100000_create_siri_sx_tables.php
Due: none

Issue #31: Added query scopes and index resource controller callback
  routes/api.php
  src/Http/Controllers/PtSituationController.php
  src/Models/Scopes/SituationOpen.php
  src/Models/Scopes/SituationValid.php
Due: php ./vendor/bin/phpcs -n --colors --standard=./phpcs.xml, php ./vendor/bin/phpstan analyze

Issue #31: Working edition fit for tft
  database/migrations/2022_09_26_100000_create_siri_sx_tables.php
  src/Helpers/PtSituationToModel.php
  src/Models/Sx/AffectedJourney.php
  src/Models/Sx/AffectedLine.php
  src/Models/Sx/AffectedRoute.php
  src/Models/Sx/AffectedStopPoint.php
  src/Models/Sx/PtSituation.php
  src/ServiceDelivery/SituationExchangeDelivery.php
Due: php ./vendor/bin/phpcs -n --colors --standard=./phpcs.xml, php ./vendor/bin/phpstan analyze

Issue #31: API call for situations from lines and journeys too
  routes/api.php
  src/Http/Controllers/PtSituationController.php
Due: php ./vendor/bin/phpcs -n --colors --standard=./phpcs.xml, php ./vendor/bin/phpstan analyze

Issue #31: No internal references between lines, routes and stops
  src/Helpers/PtSituationToModel.php
Due: php ./vendor/bin/phpcs -n --colors --standard=./phpcs.xml, php ./vendor/bin/phpstan analyze

Issue #31: upload emulator cancel works.
  package.json
  resources/js/components/SiriUpload.js
  resources/js/components/SiriUpload.vue
Due: npx eslint --ext=.js,.vue --cache

Issue #31: Default val for 'response_timestamp'
  database/migrations/2022_09_26_100000_create_siri_sx_tables.php
Due: none

Path conditions:
  npx eslint --ext=.js,.vue --cache: any of: resources/js/**/*.{js,vue}
  php ./vendor/bin/phpcs -n --colors --standard=./phpcs.xml: any of: src/**/*.php
  php ./vendor/bin/phpstan analyze: any of: src/**/*.php
